.node-red/.flows_FM-4.json.backup
[{"id":"80983f47.acfc7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95a0dd7b.923c7","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"27f3aee7.7cda02","type":"inject","z":"80983f47.acfc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":100,"wires":[["1abd4b73.ebdfc5","eb39ba58.cfccb8"]]},{"id":"1abd4b73.ebdfc5","type":"debug","z":"80983f47.acfc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":100,"wires":[]},{"id":"eb39ba58.cfccb8","type":"mqtt out","z":"80983f47.acfc7","name":"","topic":"timestamp","qos":"0","retain":"false","broker":"95a0dd7b.923c7","x":690,"y":160,"wires":[]},{"id":"688d5ce3.070764","type":"http in","z":"80983f47.acfc7","name":"","url":"/pub/:topic/:payload","method":"post","upload":false,"swaggerDoc":"","x":350,"y":300,"wires":[["7e280a40.ffce64"]]},{"id":"ee8cd751.26dbc8","type":"mqtt out","z":"80983f47.acfc7","name":"","topic":"","qos":"","retain":"","broker":"95a0dd7b.923c7","x":730,"y":240,"wires":[]},{"id":"7e280a40.ffce64","type":"function","z":"80983f47.acfc7","name":"create message","func":"//create message\nmsg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\nmsg.qos = 2;\nmgs.retain = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["430b026b.ef4d4c","ee8cd751.26dbc8"]]},{"id":"430b026b.ef4d4c","type":"function","z":"80983f47.acfc7","name":"create response","func":"//create response\nmsg.payload = {\n    success: true,\n    message: \"published\" +\n            msg.req.params.topic +\n            \"/\" +\n            msg.req.params.payload\n};","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["9392af49.9fe6d"]]},{"id":"9392af49.9fe6d","type":"http response","z":"80983f47.acfc7","name":"","statusCode":"","headers":{},"x":930,"y":300,"wires":[]}]