.node-red/flows_FM-4.json
[{"id":"80983f47.acfc7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95a0dd7b.923c7","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9297104.393f6f","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sensorData","tz":""},{"id":"27f3aee7.7cda02","type":"inject","z":"80983f47.acfc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":100,"wires":[["1abd4b73.ebdfc5","eb39ba58.cfccb8"]]},{"id":"1abd4b73.ebdfc5","type":"debug","z":"80983f47.acfc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":100,"wires":[]},{"id":"eb39ba58.cfccb8","type":"mqtt out","z":"80983f47.acfc7","name":"","topic":"timestamp","qos":"0","retain":"false","broker":"95a0dd7b.923c7","x":690,"y":160,"wires":[]},{"id":"688d5ce3.070764","type":"http in","z":"80983f47.acfc7","name":"","url":"/pub/:topic/:payload","method":"post","upload":false,"swaggerDoc":"","x":350,"y":300,"wires":[["7e280a40.ffce64"]]},{"id":"ee8cd751.26dbc8","type":"mqtt out","z":"80983f47.acfc7","name":"","topic":"sensorData","qos":"","retain":"","broker":"95a0dd7b.923c7","x":750,"y":240,"wires":[]},{"id":"7e280a40.ffce64","type":"function","z":"80983f47.acfc7","name":"create message","func":"//create message\nmsg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\nmsg.qos = 2;\nmsg.retain = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["430b026b.ef4d4c","ee8cd751.26dbc8"]]},{"id":"430b026b.ef4d4c","type":"function","z":"80983f47.acfc7","name":"create response","func":"//create response\nmsg.payload = {\n    success: true,\n    message: \"published\" +\n            msg.req.params.topic +\n            \"/\" +\n            msg.req.params.payload\n};","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["9392af49.9fe6d"]]},{"id":"9392af49.9fe6d","type":"http response","z":"80983f47.acfc7","name":"","statusCode":"","headers":{},"x":930,"y":300,"wires":[]},{"id":"d7421c58.6e412","type":"http in","z":"80983f47.acfc7","name":"","url":"/pub/:topic/:payload","method":"get","upload":false,"swaggerDoc":"","x":350,"y":420,"wires":[["7260a042.daf12"]]},{"id":"84043d80.370ae","type":"mqtt out","z":"80983f47.acfc7","name":"","topic":"sensorData","qos":"","retain":"","broker":"95a0dd7b.923c7","x":750,"y":360,"wires":[]},{"id":"7260a042.daf12","type":"function","z":"80983f47.acfc7","name":"create message","func":"//create message\nmsg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\nmsg.qos = 2;\nmsg.retain = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["236719aa.e49856","84043d80.370ae"]]},{"id":"236719aa.e49856","type":"function","z":"80983f47.acfc7","name":"create response","func":"//create response\nmsg.payload = {\n    success: true,\n    message: \"published\" +\n            msg.req.params.topic +\n            \"/\" +\n            msg.req.params.payload\n};","outputs":1,"noerr":0,"x":760,"y":420,"wires":[["be273dde.83323"]]},{"id":"be273dde.83323","type":"http response","z":"80983f47.acfc7","name":"","statusCode":"","headers":{},"x":930,"y":420,"wires":[]},{"id":"786d1c3.cd58be4","type":"mqtt in","z":"80983f47.acfc7","name":"listen everything","topic":"#","qos":"2","datatype":"auto","broker":"95a0dd7b.923c7","x":320,"y":480,"wires":[["2d146409.555adc"]]},{"id":"2d146409.555adc","type":"function","z":"80983f47.acfc7","name":"create query","func":"//Create Query\n//get microtime \n\nvar timestamp = new Date().getTime()/1000;\n\n//pad it with trailing zeroes\ntimestamp = timestamp.toString() + \"000\";\n\n//trim to exact length 10 + 1 + 3\ntimestamp = timestamp.substring(0,14);\n\nvar strQuery = \"INSERT INTO thingData (topic, payload, timestamp, deleted) VALUES ('\" + escape(msg.topic) + \"','\" + escape(msg.payload) + \"','\" + timestamp + \"',0);\";\n\nmsg.topic = strQuery;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["1b6b14e4.85f08b"]]},{"id":"1b6b14e4.85f08b","type":"mysql","z":"80983f47.acfc7","mydb":"9297104.393f6f","name":"","x":650,"y":480,"wires":[["7353ab59.c94184"]]},{"id":"7353ab59.c94184","type":"debug","z":"80983f47.acfc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":480,"wires":[]},{"id":"bea87e3.1f8418","type":"http in","z":"80983f47.acfc7","name":"","url":"/get/:topic","method":"get","upload":false,"swaggerDoc":"","x":320,"y":560,"wires":[["4bf3ddb7.a344f4"]]},{"id":"56816553.3bd2cc","type":"http in","z":"80983f47.acfc7","name":"","url":"/get/:topic/last/:count","method":"get","upload":false,"swaggerDoc":"","x":350,"y":600,"wires":[["4bf3ddb7.a344f4"]]},{"id":"4bf3ddb7.a344f4","type":"function","z":"80983f47.acfc7","name":"create query","func":"//Create Query\n//if required record count is not specified \n//set default to 1\n\nif(!msg.req.params.count)\n    {\n        msg.req.params.count = 1;\n    }\n    \n//build the sql query\nmsg.topic = \"SELECT id,topic,payload,timestamp \" + \"FROM thingData \" + \"WHERE topic= '\" + escape(msg.req.params.topic) + \"' \" + \"AND deleted=0 \" + \"ORDER BY id DESC \" + \"LIMIT \" + msg.req.params.count + \";\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["49164140.14158"]]},{"id":"49164140.14158","type":"mysql","z":"80983f47.acfc7","mydb":"9297104.393f6f","name":"","x":730,"y":580,"wires":[["93767570.a756a8"]]},{"id":"93767570.a756a8","type":"function","z":"80983f47.acfc7","name":"prepare response","func":"//create response\nmsg.payload = {\n    success: true,\n    message: \"published\" +\n            msg.req.params.topic +\n            \"/\" +\n            msg.req.params.payload\n};","outputs":1,"noerr":0,"x":920,"y":580,"wires":[["923f5347.2dd79"]]},{"id":"923f5347.2dd79","type":"http response","z":"80983f47.acfc7","name":"","statusCode":"","headers":{},"x":1090,"y":580,"wires":[]}]